:root {
  --header-font-size: clamp(2rem, 3vw, 6rem);
  --subheader-font-size: clamp(1.4rem, 1.5vw, 2rem);
  --body-font-size: clamp(1.2rem, 1vw, 1.8rem);
  --tiny-font-size: clamp(0.8rem, 1vw, 1rem);

}

@font-face {
  font-family: Barlow;
  src: url(/fonts/Barlow_Condensed/BarlowCondensed-Light.ttf);
}

@font-face {
  font-family: Bebas;
  src: url(/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: Playfair;
  src: url(/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

.barlow {
  font-family: Barlow, 'Times New Roman', Times, serif;
}

.bebas {
  font-family: Bebas, 'Times New Roman', Times, serif;
}

.playfair {
  font-family: Playfair, 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color: initial;
}

body {
  overflow-x: hidden;
}